
@{
    ViewBag.Title = "Index";
}

<h2>HOME</h2>

@Html.ActionLink("Actores","Index","Actores")
@Html.ActionLink("Clientes", "Index", "Clientes")
@Html.ActionLink("Peliculas", "Index", "Peliculas")

